  <div class="container">
       
    <h1 class="log-in-title">Sign Up<br><small>Create an account to gain access</small></h1>
    <form>
      <div class="form-group">
        <input type="email" ng-model="singupData.email" class="form-control input-lg" name="email" id="email" placeholder="Your Email Address">
      </div>
      <div class="form-group">
        <input type="email"  ng-model="singupData.emailConfirm" class="form-control input-lg" name="email_confirmation" id="email_confirmation" placeholder="Confirm Email">
      </div>
	  <div class="form-group">
        <input type="username" ng-model="singupData.fullName" class="form-control input-lg" name="username" id="username" placeholder="Your full name">
      </div>
      <div class="form-group">
        <input type="password" ng-model="singupData.password" class="form-control input-lg" name="password" id="password" placeholder="Account Password"> 
      </div>
   
     <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()">Sign up</button>
    
    </form>
	
 </div>
  
